.topbar {
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.topbarImage {
  display: flexbox;
}

a[href*="html"] {
  color: whitesmoke;
  background-color: darkblue;
  font: oblique bold 16px sans-serif;
}

a[href*="html"]:hover {
  color: lightblue;
  background-color: blue;
}

nav {
  color: whitesmoke;
  background-color: blue;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

img[src*="earth"] {
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  max-width: 100px;
}

p {
  font-size: medium;
  color: whitesmoke;
  background-color: darkblue;
}

footer {
  background-color: blue;
  min-height: 50px;
  max-height: 100px;
  text-align: center;
  color: whitesmoke;
}

