html {
  background-color: darkblue;
}

header {
  padding: 80px;
  text-align: center;
  background: blue;
  color: white;
}

/* Navigation bar (top-right) */
nav {
  overflow: hidden;
  background-color: black;
}

/* Navigation bar items */
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
  color: lightblue;
}

/* Image in navigation bar (top-left) */
img[src*="earth"] {
  min-height: 50px;
  max-height: 100px;
  min-width: 50px;
  max-width: 100px;
}

.navbarTitle {
  color: white;
}

p {
  font-size: medium;
  color: whitesmoke;
}

body {
  background-color: blue;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

article {
  background-color: blue;
}

/* Footer (located at the bottom of webpage) */
footer {
  background-color: darkblue;
  min-height: 50px;
  max-height: 100px;
  text-align: center;
  color: whitesmoke;
}

